* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul, ol {
  margin-top: 0;
  padding-bottom: 0;
}

p {
  margin: 0;
  padding: 0;
}

table thead tr {
   --bs-table-bg: rgb(163, 159, 159) !important;
}

table tbody tr:nth-child(even) {
 --bs-table-bg: rgb(223, 222, 222) !important;
}

.progress {
  width: 70px !important;
  height: 70px !important;
}